**IMPORTING NECESSARY MODULES, AND CSV FILES**

In [22]:
import pandas as pd

df1 = pd.read_csv("car_data1.csv")
df2 = pd.read_csv("car_data2.csv")

**.rename()**

In [23]:
# Make sure the price is in the correct format
df1["Selling_Price"] = df1["Selling_Price"] * 100000
df1["Present_Price"] = df1["Present_Price"] * 100000

df1 = df1.rename(columns={"Selling_Price" : "Selling_Price"})

# To match the first file's headers in order to avoid duplicate attributes (After the concatenation)
df2 = df2.rename(columns={"name" : "Car_Name"})
df2 = df2.rename(columns={"fuel" : "Fuel_Type"})
df2 = df2.rename(columns={"year" : "Year"})
df2 = df2.rename(columns={"selling_price" : "Selling_Price"})
df2 = df2.rename(columns={"owner" : "Owner"})
df2 = df2.rename(columns={"transmission" : "Transmission"})
df2 = df2.rename(columns={"seller_type" : "Seller_Type"})
df2 = df2.rename(columns={"km_driven" : "Kms_Driven"})

**.concat() ||**
**FINDING THE AMOUNT OF NULL VALUES PRESENT IN EACH ATTRIBUTE**

In [24]:
df = pd.concat([df1, df2]) # To combine the two related tables

# To demonstrate that the original copy has null values
df_original = df.copy()
print(df_original)
print(df_original.isnull().sum())

# Checking if there are any null values on each column
print(f"There are {df['Car_Name'].isnull().sum()} null values in the Car_Name attribute")
print(f"There are {df['Year'].isnull().sum()} null values in the Year attribute")
print(f"There are {df['Selling_Price'].isnull().sum()} null values in the Selling_Price attribute")
print(f"There are {df['Present_Price'].isnull().sum()} null values in the Present_Price attribute")
print(f"There are {df['Kms_Driven'].isnull().sum()} null values in the Kms_Driven attribute")
print(f"There are {df['Fuel_Type'].isnull().sum()} null values in the Fuel_Type attribute")
print(f"There are {df['Seller_Type'].isnull().sum()} null values in the Seller_Type attribute")
print(f"There are {df['Transmission'].isnull().sum()} null values in the Transmission attribute")
print(f"There are {df['Owner'].isnull().sum()} null values in the Owner attribute")

                                 Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
0                                    ritz  2014       335000.0       559000.0       27000    Petrol      Dealer       Manual             0
1                                     sx4  2013       475000.0       954000.0       43000    Diesel      Dealer       Manual             0
2                                    ciaz  2017       725000.0       985000.0        6900    Petrol      Dealer       Manual             0
3                                 wagon r  2011       285000.0       415000.0        5200    Petrol      Dealer       Manual             0
4                                   swift  2014       460000.0       687000.0       42450    Diesel      Dealer       Manual             0
...                                   ...   ...            ...            ...         ...       ...         ...          ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009       110000.0            NaN       83000    Petrol  Individual       Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016       865000.0            NaN       90000    Diesel  Individual       Manual   First Owner
4339                     Renault KWID RXT  2016       225000.0            NaN       40000    Petrol  Individual       Manual   First Owner

[4641 rows x 9 columns]
Car_Name            0
Year                0
Selling_Price       0
Present_Price    4340
Kms_Driven          0
Fuel_Type           0
Seller_Type         0
Transmission        0
Owner               0
dtype: int64
There are 0 null values in the Car_Name attribute
There are 0 null values in the Year attribute
There are 0 null values in the Selling_Price attribute
There are 4340 null values in the Present_Price attribute
There are 0 null values in the Kms_Driven attribute
There are 0 null values in the Fuel_Type attribute
There are 0 null values in the Seller_Type attribute
There are 0 null values in the Transmission attribute
There are 0 null values in the Owner attribute

**LIMITING THE AMOUNT OF ROWS, COLUMNS, AND WIDTH TAKEN WHEN PRINTING. ADDING ANOTHER ATTRIBUTE (CAR_ID).**

**.set_index()**

**.index**

In [38]:
# Limit the amount of records printed to 10 and the amount of attributes to 9
pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 9)
pd.set_option("display.width", 250)

df = df.rename(columns={"Year" : "Car_Year"})

df["Car_ID"] = df.index # Create new attribute that contains the index of the record
df = df.set_index("Car_ID") # Set as Index

print(df)

                                   Car_Name  Car_Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
Car_ID
0                                      ritz      2014       335000.0       559000.0       27000    Petrol      Dealer       Manual             0
1                                       sx4      2013       475000.0       954000.0       43000    Diesel      Dealer       Manual             0
2                                      ciaz      2017       725000.0       985000.0        6900    Petrol      Dealer       Manual             0
3                                   wagon r      2011       285000.0       415000.0        5200    Petrol      Dealer       Manual             0
4                                     swift      2014       460000.0       687000.0       42450    Diesel      Dealer       Manual             0
...                                     ...       ...            ...            ...         ...       ...         ...          ...           ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)      2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4336             Hyundai i20 Magna 1.4 CRDi      2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4337                    Maruti 800 AC BSIII      2009       110000.0            NaN       83000    Petrol  Individual       Manual  Second Owner
4338       Hyundai Creta 1.6 CRDi SX Option      2016       865000.0            NaN       90000    Diesel  Individual       Manual   First Owner
4339                       Renault KWID RXT      2016       225000.0            NaN       40000    Petrol  Individual       Manual   First Owner

[4641 rows x 9 columns]

**INSPECTING**

In [26]:
# Inspecting DataFrame
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())

       Car_Name  Car_Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission Owner
Car_ID
0          ritz      2014       335000.0       559000.0       27000    Petrol      Dealer       Manual     0
1           sx4      2013       475000.0       954000.0       43000    Diesel      Dealer       Manual     0
2          ciaz      2017       725000.0       985000.0        6900    Petrol      Dealer       Manual     0
3       wagon r      2011       285000.0       415000.0        5200    Petrol      Dealer       Manual     0
4         swift      2014       460000.0       687000.0       42450    Diesel      Dealer       Manual     0
                                   Car_Name  Car_Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
Car_ID
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)      2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4336             Hyundai i20 Magna 1.4 CRDi      2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4337                    Maruti 800 AC BSIII      2009       110000.0            NaN       83000    Petrol  Individual       Manual  Second Owner
4338       Hyundai Creta 1.6 CRDi SX Option      2016       865000.0            NaN       90000    Diesel  Individual       Manual   First Owner
4339                       Renault KWID RXT      2016       225000.0            NaN       40000    Petrol  Individual       Manual   First Owner
<class 'pandas.core.frame.DataFrame'>
Index: 4641 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       4641 non-null   object
 1   Car_Year       4641 non-null   int64
 2   Selling_Price  4641 non-null   float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     4641 non-null   int64
 5   Fuel_Type      4641 non-null   object
 6   Seller_Type    4641 non-null   object
 7   Transmission   4641 non-null   object
 8   Owner          4641 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 362.6+ KB
None
          Car_Year  Selling_Price  Present_Price     Kms_Driven
count  4641.000000   4.641000e+03   3.010000e+02    4641.000000
mean   2013.125619   5.016629e+05   7.628472e+05   64317.514113
std       4.144215   5.742791e+05   8.644115e+05   46736.207015
min    1992.000000   1.000000e+04   3.200000e+04       1.000000
25%    2011.000000   2.000000e+05   1.200000e+05   31000.000000
50%    2014.000000   3.500000e+05   6.400000e+05   57035.000000
75%    2016.000000   6.000000e+05   9.900000e+05   90000.000000
max    2020.000000   8.900000e+06   9.260000e+06  806599.000000

**.apply()**

In [27]:
# Printing the number of non-null record present on each attribute
pd.set_option("display.max_rows", 12)
sums = df.apply(lambda row : row.count())
print(f"Number of Records on each attribute:\n{sums}")

Number of Records on each attribute:
Car_Name         4641
Car_Year         4641
Selling_Price    4641
Present_Price     301
Kms_Driven       4641
Fuel_Type        4641
Seller_Type      4641
Transmission     4641
Owner            4641
dtype: int64

**.melt()**

**.pivot()**

In [63]:
df["Car_ID"] = df.index # Code is repeated since I there is a weird error stating that the Car_ID attribute doesn't exist.
df.set_index("Car_ID")

# Melt it, but allow the car_name and car_year attribute to remain the same
melted_df = df.melt(id_vars=["Car_Name", "Car_Year"])
print(melted_df)

pivoted_df = df.pivot(index="Car_ID", columns="Car_Name", values="Kms_Driven")
print(df)

                                  Car_Name  Car_Year       variable     value
0                                     ritz      2014  Selling_Price  335000.0
1                                      sx4      2013  Selling_Price  475000.0
2                                     ciaz      2017  Selling_Price  725000.0
3                                  wagon r      2011  Selling_Price  285000.0
4                                    swift      2014  Selling_Price  460000.0
...                                    ...       ...            ...       ...
37123  Hyundai i20 Magna 1.4 CRDi (Diesel)      2014         Car_ID      4335
37124           Hyundai i20 Magna 1.4 CRDi      2014         Car_ID      4336
37125                  Maruti 800 AC BSIII      2009         Car_ID      4337
37126     Hyundai Creta 1.6 CRDi SX Option      2016         Car_ID      4338
37127                     Renault KWID RXT      2016         Car_ID      4339

[37128 rows x 4 columns]
                                   Car_Name  Car_Year  Selling_Price  Present_Price  ...  Seller_Type Transmission         Owner Car_ID
Car_ID                                                                               ...
0                                      ritz      2014       335000.0   559000.00000  ...       Dealer       Manual             0      0
1                                       sx4      2013       475000.0   954000.00000  ...       Dealer       Manual             0      1
2                                      ciaz      2017       725000.0   985000.00000  ...       Dealer       Manual             0      2
3                                   wagon r      2011       285000.0   415000.00000  ...       Dealer       Manual             0      3
4                                     swift      2014       460000.0   687000.00000  ...       Dealer       Manual             0      4
...                                     ...       ...            ...            ...  ...          ...          ...           ...    ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)      2014       409999.0   762847.17608  ...   Individual       Manual  Second Owner   4335
4336             Hyundai i20 Magna 1.4 CRDi      2014       409999.0   762847.17608  ...   Individual       Manual  Second Owner   4336
4337                    Maruti 800 AC BSIII      2009       110000.0   762847.17608  ...   Individual       Manual  Second Owner   4337
4338       Hyundai Creta 1.6 CRDi SX Option      2016       865000.0   762847.17608  ...   Individual       Manual   First Owner   4338
4339                       Renault KWID RXT      2016       225000.0   762847.17608  ...   Individual       Manual   First Owner   4339

[4641 rows x 10 columns]

**.query()**

In [11]:
filtered_df = df.query("Selling_Price < 150000")
print(filtered_df)

                         Car_Name  Car_Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
Car_ID
37                            800      2003        35000.0       228000.0      127000    Petrol  Individual       Manual             0
44                           omni      2012       125000.0       269000.0       50000    Petrol      Dealer       Manual             0
47                        wagon r      2006       105000.0       415000.0       65000    Petrol      Dealer       Manual             0
103             Bajaj Dominar 400      2017       145000.0       160000.0        1200    Petrol  Individual       Manual             0
104     Royal Enfield Classic 350      2017       135000.0       147000.0        4100    Petrol  Individual       Manual             0
...                           ...       ...            ...            ...         ...       ...         ...          ...           ...
4320               Maruti Alto LX      2008       114999.0            NaN       66782    Petrol  Individual       Manual  Second Owner
4321               Maruti Alto LX      2006        75000.0            NaN      130000    Petrol  Individual       Manual   First Owner
4325              Maruti Alto LXi      2000        65000.0            NaN       90000    Petrol  Individual       Manual  Second Owner
4326           Honda City 1.5 GXI      2005        65000.0            NaN      150000    Petrol  Individual       Manual   Third Owner
4337          Maruti 800 AC BSIII      2009       110000.0            NaN       83000    Petrol  Individual       Manual  Second Owner

[774 rows x 9 columns]

**.groupby()**

**.agg()**

In [12]:
# To only print wanted elements (The name of the car and the selling price)
print(df.groupby("Car_Name")["Selling_Price"].sum())

print("\nRevenue that will be generated if all cars are sold at their selling price:")
print(df.agg({"Selling_Price" : "sum"}))

print("\n\nFinding the cheapest and the most expensive car")
print(df.agg({"Selling_Price" : ["min", "max"]}))

Car_Name
800                                 35000.0
Activa 3g                           62000.0
Activa 4g                           40000.0
Ambassador CLASSIC 1500 DSL AC     240000.0
Ambassador Classic 2000 Dsz         50000.0
                                    ...
sx4                               1895000.0
verna                             8551000.0
vitara brezza                      925000.0
wagon r                           1005000.0
xcent                             1490000.0
Name: Selling_Price, Length: 1589, dtype: float64

Revenue that will be generated if all cars are sold at their selling price:
Selling_Price    2.328218e+09
dtype: float64


Finding the cheapest and the most expensive car
     Selling_Price
min        10000.0
max      8900000.0

**.fillna()**

In [49]:
df_original_copy = df_original.copy()

# Fills all null values present in the Present_Price attribute
df_original_copy["Present_Price"] = df_original_copy["Present_Price"].fillna("Price_Missing")

print(df_original_copy)

                                 Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
0                                    ritz  2014       335000.0       559000.0       27000    Petrol      Dealer       Manual             0
1                                     sx4  2013       475000.0       954000.0       43000    Diesel      Dealer       Manual             0
2                                    ciaz  2017       725000.0       985000.0        6900    Petrol      Dealer       Manual             0
3                                 wagon r  2011       285000.0       415000.0        5200    Petrol      Dealer       Manual             0
4                                   swift  2014       460000.0       687000.0       42450    Diesel      Dealer       Manual             0
...                                   ...   ...            ...            ...         ...       ...         ...          ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014       409999.0  Price_Missing       80000    Diesel  Individual       Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014       409999.0  Price_Missing       80000    Diesel  Individual       Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009       110000.0  Price_Missing       83000    Petrol  Individual       Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016       865000.0  Price_Missing       90000    Diesel  Individual       Manual   First Owner
4339                     Renault KWID RXT  2016       225000.0  Price_Missing       40000    Petrol  Individual       Manual   First Owner

[4641 rows x 9 columns]

**.dropna()**

In [14]:
# Remove all records containing null values
cleaned_df_records = df_original.dropna()
print(cleaned_df_records)

# Remove all attributes containing null values
cleaned_df_attributes = df_original.dropna(axis = 1)
print(cleaned_df_attributes)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission Owner
0       ritz  2014       335000.0       559000.0       27000    Petrol      Dealer       Manual     0
1        sx4  2013       475000.0       954000.0       43000    Diesel      Dealer       Manual     0
2       ciaz  2017       725000.0       985000.0        6900    Petrol      Dealer       Manual     0
3    wagon r  2011       285000.0       415000.0        5200    Petrol      Dealer       Manual     0
4      swift  2014       460000.0       687000.0       42450    Diesel      Dealer       Manual     0
..       ...   ...            ...            ...         ...       ...         ...          ...   ...
296     city  2016       950000.0      1160000.0       33988    Diesel      Dealer       Manual     0
297     brio  2015       400000.0       590000.0       60000    Petrol      Dealer       Manual     0
298     city  2009       335000.0      1100000.0       87934    Petrol      Dealer       Manual     0
299     city  2017      1150000.0      1250000.0        9000    Diesel      Dealer       Manual     0
300     brio  2016       530000.0       590000.0        5464    Petrol      Dealer       Manual     0

[301 rows x 9 columns]
                                 Car_Name  Year  Selling_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
0                                    ritz  2014       335000.0       27000    Petrol      Dealer       Manual             0
1                                     sx4  2013       475000.0       43000    Diesel      Dealer       Manual             0
2                                    ciaz  2017       725000.0        6900    Petrol      Dealer       Manual             0
3                                 wagon r  2011       285000.0        5200    Petrol      Dealer       Manual             0
4                                   swift  2014       460000.0       42450    Diesel      Dealer       Manual             0
...                                   ...   ...            ...         ...       ...         ...          ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014       409999.0       80000    Diesel  Individual       Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014       409999.0       80000    Diesel  Individual       Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009       110000.0       83000    Petrol  Individual       Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016       865000.0       90000    Diesel  Individual       Manual   First Owner
4339                     Renault KWID RXT  2016       225000.0       40000    Petrol  Individual       Manual   First Owner

[4641 rows x 8 columns]

**Simple Imputer**

In [51]:
from sklearn.impute import SimpleImputer

df_original_copy_2 = df_original.copy()

imputer_mean = SimpleImputer(missing_values=pd.NA, strategy='mean')
df_original_copy_2['Present_Price'] = imputer_mean.fit_transform(df_original_copy_2['Present_Price'].values.reshape(-1, 1))[:, 0]

print(df_original_copy_2)

                                 Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
0                                    ritz  2014       335000.0   559000.00000       27000    Petrol      Dealer       Manual             0
1                                     sx4  2013       475000.0   954000.00000       43000    Diesel      Dealer       Manual             0
2                                    ciaz  2017       725000.0   985000.00000        6900    Petrol      Dealer       Manual             0
3                                 wagon r  2011       285000.0   415000.00000        5200    Petrol      Dealer       Manual             0
4                                   swift  2014       460000.0   687000.00000       42450    Diesel      Dealer       Manual             0
...                                   ...   ...            ...            ...         ...       ...         ...          ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014       409999.0   762847.17608       80000    Diesel  Individual       Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014       409999.0   762847.17608       80000    Diesel  Individual       Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009       110000.0   762847.17608       83000    Petrol  Individual       Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016       865000.0   762847.17608       90000    Diesel  Individual       Manual   First Owner
4339                     Renault KWID RXT  2016       225000.0   762847.17608       40000    Petrol  Individual       Manual   First Owner

[4641 rows x 9 columns]

**CONVERTING 0 IN THE OWNER ATTRIBUTE TO NO OWNER USING REGEX (EXTRA MILES)**

In [62]:
df_original_copy_3 = df.copy()

# Ensure 'Owner' column is string type
df_original_copy_3["Owner"] = df_original_copy_3["Owner"].astype(str)

# Use regex to replace '0' with 'No Owner' // ^ = Start of String, 0 = element to be replaced, $ = End of String
df_original_copy_3["Owner"] = df_original_copy_3["Owner"].str.replace("^0$", "No Owner", regex=True)

print(df_original_copy_3)

                                   Car_Name  Car_Year  Selling_Price  Present_Price  ...  Seller_Type Transmission         Owner Car_ID
Car_ID                                                                               ...
0                                      ritz      2014       335000.0   559000.00000  ...       Dealer       Manual      No Owner      0
1                                       sx4      2013       475000.0   954000.00000  ...       Dealer       Manual      No Owner      1
2                                      ciaz      2017       725000.0   985000.00000  ...       Dealer       Manual      No Owner      2
3                                   wagon r      2011       285000.0   415000.00000  ...       Dealer       Manual      No Owner      3
4                                     swift      2014       460000.0   687000.00000  ...       Dealer       Manual      No Owner      4
...                                     ...       ...            ...            ...  ...          ...          ...           ...    ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)      2014       409999.0   762847.17608  ...   Individual       Manual  Second Owner   4335
4336             Hyundai i20 Magna 1.4 CRDi      2014       409999.0   762847.17608  ...   Individual       Manual  Second Owner   4336
4337                    Maruti 800 AC BSIII      2009       110000.0   762847.17608  ...   Individual       Manual  Second Owner   4337
4338       Hyundai Creta 1.6 CRDi SX Option      2016       865000.0   762847.17608  ...   Individual       Manual   First Owner   4338
4339                       Renault KWID RXT      2016       225000.0   762847.17608  ...   Individual       Manual   First Owner   4339

[4641 rows x 10 columns]

In [55]:
print(df)

                                 Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission         Owner
0                                    ritz  2014       335000.0       559000.0       27000    Petrol      Dealer       Manual             0
1                                     sx4  2013       475000.0       954000.0       43000    Diesel      Dealer       Manual             0
2                                    ciaz  2017       725000.0       985000.0        6900    Petrol      Dealer       Manual             0
3                                 wagon r  2011       285000.0       415000.0        5200    Petrol      Dealer       Manual             0
4                                   swift  2014       460000.0       687000.0       42450    Diesel      Dealer       Manual             0
...                                   ...   ...            ...            ...         ...       ...         ...          ...           ...
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4336           Hyundai i20 Magna 1.4 CRDi  2014       409999.0            NaN       80000    Diesel  Individual       Manual  Second Owner
4337                  Maruti 800 AC BSIII  2009       110000.0            NaN       83000    Petrol  Individual       Manual  Second Owner
4338     Hyundai Creta 1.6 CRDi SX Option  2016       865000.0            NaN       90000    Diesel  Individual       Manual   First Owner
4339                     Renault KWID RXT  2016       225000.0            NaN       40000    Petrol  Individual       Manual   First Owner

[4641 rows x 9 columns]